<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
        body{
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3><u>Submitted Info</u></h3> 
        <p>Name: {{ session['name'] }}</p>
        <p>Dojo Location: {{ session['dojo'] }}</p>
        <p>Favorite Language: {{ session['language'] }}</p>
        <p>Comment: {{ session['comment'] }}</p> 
        <a href='/clear'>Go Back</a>
    </div>
</body>
</html>